.debugMenu {
  --debug-color-system: rgba(255, 235, 235, 0.95);
  --debug-color-input: rgba(235, 255, 235, 0.95);
  --debug-color-time: rgba(235, 235, 255, 0.95);
  --debug-color-map: rgba(255, 255, 235, 0.95);
  --debug-color-camera: rgba(255, 235, 255, 0.95);
  --debug-color-myte: rgba(235, 255, 255, 0.95);
  --debug-color-myte-stats: rgba(235, 255, 241, 0.95);
  margin-left: 10px;
  line-height: 1em;
  font-size: 0.8em;
  position: fixed;
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: white;
  visibility: hidden;
  z-index: 1000;
}
.debugMenu .debug-group {
  padding: var(--padding);
  border-radius: var(--border-width);
}
.debugMenu .debug-group + .debug-group {
  margin-top: 4px;
}
.debugMenu .debug-group h3 {
  margin: 0 0 4px 0;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.debugMenu .debug-group.system {
  background-color: var(--debug-color-system);
}
.debugMenu .debug-group.input {
  background-color: var(--debug-color-input);
}
.debugMenu .debug-group.time {
  background-color: var(--debug-color-time);
}
.debugMenu .debug-group.map {
  background-color: var(--debug-color-map);
}
.debugMenu .debug-group.camera {
  background-color: var(--debug-color-camera);
}
.debugMenu .debug-group.myte {
  background-color: var(--debug-color-myte);
}
.debugMenu .debug-group.myte.stats {
  background-color: var(--debug-color-myte-stats);
}

.queueMenu {
  visibility: hidden;
  margin-right: 10px;
  position: fixed;
  display: none;
  height: -moz-fit-content;
  height: fit-content;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 1000;
  width: 300px;
  font-size: 0.9em;
}
.queueMenu:not(:empty) {
  display: inline-block;
}
.queueMenu .queue-item {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  transition: background-color 0.2s;
  padding: var(--padding);
  border-radius: var(--border-width);
  /*
        &.movement {
            border-left: 3px solid #3498db;
        }

        &.expression {
            border-left: 3px solid #e74c3c;
        }

        &.interaction {
            border-left: 3px solid #2ecc71;
        }

        &.other {
            border-left: 3px solid #95a5a6;
        }
  */
}
.queueMenu .queue-item + .queue-item {
  margin-top: 4px;
}
.queueMenu .queue-item .content {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  width: 100%;
}
.queueMenu .queue-item .content .number {
  min-width: 2em;
  font-weight: 500;
  color: #666;
}
.queueMenu .queue-item .content .information {
  flex-grow: 1;
}
.queueMenu .queue-item .content .information .title {
  display: flex;
  gap: 4px;
  align-items: center;
}
.queueMenu .queue-item .content .information .title .name {
  font-weight: 500;
}
.queueMenu .queue-item .content .information .title .controls {
  display: flex;
  gap: 2px;
  margin-left: auto;
}
.queueMenu .queue-item .content .information .title .controls button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 2px;
  font-size: 0.8em;
  line-height: 1;
}
.queueMenu .queue-item .content .information .title .controls button.skip {
  color: #3498db;
}
.queueMenu .queue-item .content .information .title .controls button.remove {
  color: #e74c3c;
}
.queueMenu .queue-item .content .information .description {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.8em;
}
.queueMenu .queue-item .content .information .description .arrow {
  opacity: 0.5;
}
.queueMenu .queue-item .content .information .description .target {
  opacity: 0.7;
}
.queueMenu .queue-item .content .information .description .repeats {
  background: rgba(0, 0, 0, 0.05);
  padding: 0 4px;
  border-radius: 2px;
}
.queueMenu .queue-item .content .information .description .status {
  margin-left: auto;
  opacity: 0.7;
}
.queueMenu .queue-item .content .progress {
  height: 3px;
  background: rgba(0, 0, 0, 0.05);
  margin-top: 4px;
  border-radius: 1px;
  overflow: hidden;
  flex: 0 0 100%;
  display: none;
}
.queueMenu .queue-item .content .progress .bar {
  height: 100%;
  width: 0;
  transition: width 0.1s linear;
  background: rgba(0, 128, 0, 0.2);
}
.queueMenu .queue-item.current {
  background-color: rgb(235, 255, 235);
}
.queueMenu .queue-item.current .content {
  font-weight: 500;
}
.queueMenu .queue-item.current .progress {
  background: rgba(0, 0, 0, 0.05);
}
.queueMenu .queue-item.current .progress .bar {
  background: rgba(0, 128, 0, 0.2);
}/*# sourceMappingURL=ui.css.map */